@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
    /* Text Colors */
    --text-primary: #21272a; /* CoolGray-90 */
    --text-secondary: #525252;

    /* Background Colors */
    --bg-light: #f4f4f4;
    --bg-dark: #121212;

    /* Accent Colors */
    --accent-blue: #0f62fe;
    --accent-red: #da1e28;

    --primary-gradient: radial-gradient(
        circle at 50% 40%,
        #4c97dd 0%,
        #72bdff 50%,
        #72bdff 60%,
        #e5e7ff 110%
    );
}

body {
    color: var(--text-primary);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
}

.logo-text {
    color: #1e293b;
    font-family: "Plus Jakarta Sans";
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 97.436% */
    letter-spacing: -0.507px;
}

/* MAIN */
#main-app {
    background-color: #fff;
}

.header {
    color: #1e293b;
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 126.667% */
    letter-spacing: -0.39px;
}

#sidebar {
    /* width: 65px; */
    background-color: white;
    min-height: 100vh;
    padding: 12px;
}

nav {
    border-bottom: 1px solid #e2e8f0;
    padding: 12px 24px;
}

.container {
    padding: 30px 12px;
}
/* 
    AUTH -- LOGIN and REGISTER
*/

.auth-header {
    color: var(--text-primary);

    /* Heading/2 */
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 46.2px */
}

.auth-section {
    display: flex;
    padding: 80px;
    /* max-width: 300px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
}

#auth-section {
    background-color: white;
    width: 100%;
}

.form-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    width: 100%;
}

.form-control {
    border-bottom: 1px solid var(--CoolGray-30, #c1c7cd);
    background: var(--CoolGray-10, #f2f4f8);
}

.primary-btn {
    border-radius: 40px;
    border: 2px solid #6db8e5;
    background: var(--primary-gradient);

    /* display: flex; */
    min-width: 150px;
    min-height: 48px;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;

    color: var(--Default-White, #fff);

    font-size: 14px;
    font-style: semi-bold;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 0.5px;
    text-decoration: none;
}

.auth-link {
    color: var(--Primary-90, #001d6c);
    text-decoration: none;

    font-size: 14px;
    line-height: 140%; /* 19.6px */
}

.form-desc {
    color: var(--CoolGray-60, #697077);

    /* Body/XS */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

/* 
CHAT
 */

.chat-text {
    display: flex;
    gap: 10px;
}

.chat-bubble {
    display: flex;
    max-width: 520px;
    padding: 16px;

    color: #fff;
    font-size: 14px;
    font-weight: 500;

    word-break: break-word;       /* break long words */
    overflow-wrap: break-word; 
}

.chat-bot .chat-bubble {
    border-radius: 16px;
    border: 1px solid #e2e8f0;
    background: linear-gradient(
        200deg,
        #4c97dd 0%,
        #72bdff 72.08%,
        #72bdff 80.08%,
        #c8b2ff 110%
    );
}

.chat-user .chat-bubble {
    border-radius: 16px;
    background: linear-gradient(
        104deg,
        #414471 -21.95%,
        #3c3d4a 41.55%,
        #596373 88.78%,
        #99bdeb 111.06%
    );
}

.chat-user {
    justify-content: flex-end;
}

/* =========================
   CHAT SECTION
========================= */

.chat-section {
    max-width: 750px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-section::-webkit-scrollbar {
    display: none;
}

/* =========================
   INPUT CONTAINER
========================= */

.input-chat-section {
    left: 70px;
    /* background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 20%,
        rgba(187, 216, 255, 0.5) 80%,
        rgba(209, 210, 255, 0.9) 100%
    ); */
}

.chat-input {
    width: 750px;
    margin: 20px auto;

    display: flex;
    align-items: end;

    border-radius: 24px;
    border: 1px solid #e2e8f0;
    background: #fff;
    flex-direction: column;
}

/* =========================
   INPUT FIELD
========================= */

.input-user {
    flex: 1;
    width: 100%;
    min-height: 24px;
    padding: 15px 20px 0px 20px;
    margin: 0px;
    /* padding: 5px; */

    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-user:empty::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
}

/* =========================
   SEND BUTTON
========================= */

#sendBtn {
    height: 30px;
    margin: 10px;
    padding: 8px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: none;
    border-radius: 999px;

    background: linear-gradient(
        106deg,
        #99bdeb -65.88%,
        #596373 21.36%,
        #3c3d4a 46.19%,
        #414471 91.28%
    );

    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#chatMessages {
    overflow-y: auto;
    max-height: 70vh; /* or any fixed height */
}

#chatMessages::-webkit-scrollbar {
    width: 0;
}   