{% extends "layouts/app.html" %} {% block content %}
<div></div>
<div class="chat-section">
    <div class="d-flex flex-column" style="gap: 30px">
        <div class="chat-text chat-bot">
            <img
                height="40"
                src="{{ url_for('static', filename='img/bot_profile.png') }}"
                alt="Logo"
            />
            <span class="chat-bubble">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur optio sequi eligendi odit ipsam eius itaque, eum dicta
                dolor? Vel, ducimus veritatis. Porro blanditiis quia excepturi
                iusto facilis fugit dignissimos.
            </span>
        </div>

        <div class="chat-text chat-user">
            <span class="chat-bubble"> Lorem ipsum dolor sit amet con </span>
            <img
                height="40"
                src="{{ url_for('static', filename='img/user_profile.png') }}"
                alt="Logo"
            />
        </div>
    </div>
</div>

<div class="input-chat-section fixed-bottom">
    <div class="chat-input d-flex flex-row align-items-end gap-2">
        <div class="input-wrapper flex-grow-1">
            <textarea
                placeholder="Message to ReflectBot..."
                id="chatInput"
            ></textarea>
        </div>

        <button class="secondary-btn" id="sendBtn" style="width: 100px">
            Send &gt;
        </button>
    </div>
</div>
{% endblock %}
