{% extends "layouts/app.html" %} {% block content %}
<div class="d-flex flex-column" style="gap: 30px">
    <h3 class="fw-bold fs-5">Hi {{ user . name }}, good to see you again.</h3>

    <div class="">
        <a href="/chat" class="primary-btn" style="padding: 16px 30px">Start New Assessmen</a>
    </div>

    <div>
        <table class="table table-hover">
            <tr>
                <th>Session</th>
                <th>Date</th>
                <th>Attachment Style</th>
                <th>Details</th>
            </tr>
            {% for s in sessions %}
            <tr>
                <td>{{ loop . index }}</td>
                <td>{{ s . started_at . strftime('%A %d %B %Y') }}</td>
                <td>
                    {% if s.analysis %}
                    {{ s . analysis . attachment_style }}
                    {% else %}
                    <span class="text-muted">Belum dianalisis</span>
                    {% endif %}
                </td>

                <td>
                    {% if s.status == 'active' %}
                    <a href="{{ url_for('chat_session.detail', session_id = s . id) }}" class="btn btn-primary">
                        Continue
                    </a>
                    {% else %}
                    <!-- optional: something else -->
                    {% endif %}
                    <a href="{{ url_for('chat_session.delete', session_id = s . id) }}" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
